# created by Makefile
.gitignore
*~
*.swp
*.d
*.o
*.a
Makefile.inc
git_version.c
doc
gnd2fmdpara
sldet2fmdpara
transformsldet
joinsldets
minenergy
minenergyp
minenergycon
minenergycon-detQ
minenergycon-detEQ
minenergyconp
minenergyconpar
minenergyconproj
minenergyconorthogonalproj
minenergyconproj-detEQ
minenergycon-detEQ
minenergyconvap-detEQ
minenergyconvap
minenergyconvapp
minenergyconvappiso
minenergyconvap-detEQ
minenergyconvappc
minenergyconvappcm
minenergyconmultivapp
minenergyconmultivappcm
minenergyconorthogonalvapp
calcenergy
calcenergyp
calcnorm
calcnormp
calcquadrupole
calcorientation
calcconstraints
recalcenergy
recalcenergyp
calchflevels
calcenergyprojme
calcovlapproj
calcovlapprojme
calcenergyproj
calcenergyprojks
calcenergymultiproj
recalcenergymultiproj
calcenergymultiselproj
calcenergymultiprojsel
calcbasisovlap
calcdensities
calcdensitiespn
calcdensitiespnp
calcdensitiespmn
calcdensitiesspin
calcdensities3d
calcdens
calchfdens
calcradiiall
calcsdradii
calcradiiallme
calcradiils
calctransitions
calctransitionsme
calctransitionsgt
calcchargeformfactors
calctransitionchargeformfactors
calcpointformfactors
calctransitionpointformfactors
calcformfactorsme
calcpointdensities
calctransitionpointdensities
calcmatterdensities
calcchargedensities
calctransitionchargedensities
calconenucleonovlaps
calctwonucleonovlapst
calctwonucleonovlapsy
calcpairs
calctwobodydensitiescoord
calctwobodydensitiescoordl
calctwobodydensitiesmom
calctwobodydensitiesmoml
calctwobodydensitiescoordme
calctwobodydensitiescoordlme
calctwobodydensitiesmomme
calctwobodydensitiesmomlme
calcenergyprojmulti
calcenergymultiprojmulti
calcenergyprojmemulti
calcovlapprojmemulti
calctransitionsmulti
calctransitionsmemulti
calcoccupationnumbersho
calcoccupationnumbershoproj
calctransitionnumbershoproj
calcoccupationnumbershoprojme
calcoccupationnumbershoprojmes
calcshelloccupations
calcshelloccupationsme
calctimereversal
mpiminenergy
mpiminenergyp
mpiminenergycon
mpiminenergyconp
mpiminenergyconproj
mpiminenergyconorthogonalproj
mpiminenergyconproj-detEQ
mpiminenergyconvap
mpiminenergyconvapp
mpiminenergyconvappiso
mpiminenergyconvap-detEQ
mpiminenergyconvappc
mpiminenergyconvappcm
mpiminenergyconmultivapp
mpiminenergyconmultivappcm
mpiminenergyconorthogonalvapp
mpiminenergyconpar
mpicalcenergy
mpicalcenergyproj
mpicalcenergymultiproj
mpicalcenergymultiprojsel
mpicalcenergyprojmulti
mpicalcoccupationnumbershoprojmes
mpicalconenucleonovlaps
mpicalctwonucleonovlapst
mpicalctwonucleonovlapsy
